ul {
  list-style-type: none;
  overflow: hidden;

}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
  font-family:Garamond;
 
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

img {
  max-width: 100%;
}

.logo {
  flex-basis: 20%;
   width: 200px;
    height: auto;
}

.navigacija {
  font-size: 20px;
}
